@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    background: url('src/images/bg.jpg');
    color: white;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1rem;
    text-decoration: none;
}

.header__left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__left-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
    width: 200px;
    gap: 1rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.logo{
    width: 25%;
}

.header__left-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    gap: 1rem;
}

.header__right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.div__button{
    width: auto;
    height: auto;
}

.menu__button{
    background: none;
    box-shadow: none;
    border: 1px solid #4D96FF;
    cursor: pointer;
    height: 2rem;
    width: 6rem;
    color: #4D96FF;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
}

.menu__button:hover{
    transform: scale(1.10);
    transition: 200ms;
    box-shadow: 5px 5px 10px rgba(31, 173, 255, 0.671);
    font-weight: 700;

}

main{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    padding-left: 10%;
    font-size: 0.8rem;
}

aside{
    display: flex;
    flex-direction: column;
    width: 40%;
    font-family: 'Roboto', sans-serif;
    margin-top: 7rem;

}

h2{
    font-weight: 400;
    font-size: 4.5rem;
    margin-bottom: 10px;
}

p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: justify;
    font-weight: 300;
}

.main__inferior{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
}

.main__button{
    background: none;
    box-shadow: none;
    border: 1px solid #4D96FF;
    cursor: pointer;
    height: 3rem;
    width: 8rem;
    color: #4D96FF;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
}

.main__button:hover{
    transform: scale(1.10);
    transition: 200ms;
    box-shadow: 5px 5px 10px rgba(31, 173, 255, 0.671);
    font-weight: 700;
}

.main__link::before{
    content: url("components/Arrow\ -\ Right\ Circle.svg");
}

.article__image{
    width: 80%;
}